body {
  font-family: "Roboto", "Arial", sans-serif;
  /*font-size: 16px;
  line-height: 24px;
  font-weight: 700;*/
  color: #000000;
  text-transform:;
}
a {
  text-decoration: none;
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;
}
/*Меню*/
.header-classes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;

}
.header-headline {
  font-family: "Roboto", "Arial", regular, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  outline: 1px solid red;
  flex-direction: column;
  margin: 0px;
  width: 100%;
  text-align: center;
  height: 100px;
}
.main-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  background-color: rgba(238, 238, 238, 1);
  display: flex;
  /*align-items: center*/;
  outline: 1px solid red;
  margin-bottom: 80px;
}
.main-navigation-inner {
  height: 500px;
  outline: 1px solid red;
}
.main-navigation-wrapper .conteiner {
  display: flex;
  justify-content: space-between;
}
.site-navigation {
  font-family: "Roboto", "Arial", regular, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  list-style: none;
  margin: 0;
  padding-top: 10px;
  height: 35px;
  outline: 1px solid red;
  display: flex;
  width: 480px;/*по шаблону 440px*/
  justify-content: space-between;
  /*flex-wrap: wrap;
  width: 620px;*/
  background: rgba(234, 255, 45, 0.2);
}
/*Вариант оформления пунктов меню*/

.user-navigation {
  list-style: none;
}
.menu-item {
margin-left: 50px;
}
.menu-item:active {
  border-bottom: 3px solid red;
}
.user-navigation .login-link {
  position: relative;
  padding-left: 30px;
  padding-right: 5px;
  padding-bottom: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  /*background-color: rgba(251, 86, 90, 0.4);*/
  width: auto;
  outline: 0px solid red;
}
.login-link:;before {
/*position: relative;
width: 16px;
height: 20px;
/*background-color: rgba(251, 86, 90, 0.5);*/
/*position: absolute;
left: 50px;
top: 5px;*/
/*background-image: url("img/cart-icon.svg");
background-repeat: no-repeat;
background-position: 0 0;
opacity: 0.3;*/
}
.basket {
  position: absolute;
  top: 7px;
  left: 5px;
}
.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  /*opacity: 1;*/
}
.login-link:active {
  border-bottom: 3px solid red ;
}
/*.basket {
  justify-content: flex-end5
}*/
.main-header-logo {
  min-width: 368px;
  min-height: 153px;
  outline: 1px solid red;
}
.page-title {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.main-header-logo a:hover,
.main-header-logo a:focus,{
 
}
.social {
  list-style: none;
}
/*Меню*/
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: rgba(250, 100, 103, 1);
}
.site-navigation a:active {
  color: rgba(800, 100, 103, 1);
}
/*Скрытые заголовки*/
.visually-hidden:not(:focus):not(:active),
input [type="checkbox"].visually-hidden,
input [type="radio"].visually-hidden {
   position: absolute;

   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0px;
   padding: 1px;

   white-space: nowrap;

   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
/*Услуги*/
.services {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 100%;
  text-align: left;
  list-style: none;
  outline: 1px solid red;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}
.service-headline {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
/*.services-container {
  display: flex;
  justify-content: space-between;
}*/
.site-block {
  width: 300px;
  margin-left: 10px;
}
.app-block {
  width: 300px;
  margin-left: 70px;
}
.pres-block {
  width: 300px;
  margin-right: 10px;
}
.page-title {
  text-align: center;
  padding-bottom: 50px;
}
/*Кнопка попапа*/
.feedback-submit {
  font: inherit;
  text-transform: uppercase;
  color: white;
  background-color: rgba(251, 86, 90, 1);
  width: 192px;
  height: 50px;
  margin: 10px;
}
/*Кнопки соц. сетей*/
.social-button {
  background-color: gray;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*position: relative;*/
  margin-right: 10px;
}
.social-button:hover,
.social-button:focus {
  background-color: rgba(251, 86, 90, 1);
}
.social-button:active path {
fill: rgba(251, 86, 90, 0.5);
}
.footer-lozung {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  list-style: none;
}
.footer-discount {
  margin-bottom: 30px;
  line-height: 50px;
}
.footer-list {
  list-style: none;
  margin-left: 100px;
}
/*.circle-button {
  position: absolute;
  top: 25%;
  left: 25%;
}*/
.main-footer {
  margin-top: 65px;
  outline: 1px solid red;
  padding: 60px;
}
.footer-social {
  display: flex;
  /*justify-content: space-between;*/
  outline: 1px solid red;
  margin: 0px;
  padding: 0px;
}
.social {
  display: flex;
}
/*Кнопка фильтра inner*/
.che {
  display: flex;
}
.filter-submit {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  min-width: 192px;
  min-height: 50px;
  margin: 10px;
  background-color: rgba(238, 238, 238, 1);
  border-radius: 5px;
}
.range {
font-family: "Roboto", "Arial", sans-serif;
font-size: 18px;
line-height: 30px;
font-weight: 700;
}
.form-filter {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(40, 49, 54, 1);
  outline: 1px solid red;
}
.filter-submit button:hover,
.filter-submit a:focus {
  color: red;
}
/*Кнопка ""Заказать* Сайт на index*/
.order-button {
  text-align: center;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: white;
  padding: 15px;
  border-radius: 2px;
  text-transform: uppercase;
  display: inline-block;
  width: 160px;
  margin: 0px;
  }
.order-button-site {
  background-color: rgba(251, 86, 90, 1);
}
/*Кнопка ""Заказать* Приложение на index*/
.order-button-app {
  background-color: rgba(0, 202, 116, 1);
}
/*Кнопка ""Заказать* Презентацию на index*/
.order-button-pres {
  background-color: rgba(239, 200, 74, 1);
}
/*Кнопка с ценой в спокойном состоянии*/
.buy-templ-calm {
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  font-family: "Roboto";
  color: white;
  background-color: rgba(251, 86, 90, 1);
  padding: 5px;
  border-radius: 2px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 192px;
  min-height: 50px;
  margin: 10px;
}
/*Всплывающее окно с ценой на inner*/
.templ-active {
  font-family: "Roboto";
  background-color: rgba(238, 238, 238, 1);
}
/*Сеточные стили*/
.main-header {
  margin-bottom: 75px;
  outline: 1px solid red;
}
.main-navigation-wrapper {
  width: 100%;
  /*margin-bottom: 60px;*/
}
.conteiner {
  width: 100%;
  margin: 0px;
  padding: 0 10px;
  outline: 1px solid red;
}
.main-content {
  outline: 1px solid red;
  display: flex;
  flex-direction: row;
  margin: 0px 10px;
}
/*Временно для сетки*/
.catalog {
  outline: 1px solid red;
  width: 1000px;
}
.catalog-list {
  margin-left: 100px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;*/
  width: auto;
  justify-content: space-between;
}
.catalog-item {
  justify-content: space-between;
  position: relative;
  outline: 5px solid red;
}
.templ-active {
  text-align: center;
  height: 250px;
  width: 360px;
  display: none;
  position: absolute;
  top: 50%;
  left: 0%;
  margin: 10px;
}
.filters {
  outline: 1px solid red;
  width: 250px;
}
.lab {
  margin-top: 5px;
}
.che {
  margin-top: 5px;
}
.site-logo {
  margin-top: 50px;
}
.conteiner {
  
}